            @font-face {
                font-family: Champions-Bold;
                src: url(./fonts/Champions-Bold.otf);
            }
            
            @font-face {
                font-family: Champions-Regular;
                src: url(./fonts/Champions-Regular.otf);
            }
            
            body {
                background-color: rgb(224, 238, 252);
            }
            
            #contents {
                border-collapse: collapse;
                width: 100%;
                margin: 40px;
            }
            
            #contents:hover {
                cursor: auto;
            }
            
            #contents td {
                background-color: #fff;
                padding: 8px;
                padding-top: 12px;
                padding-bottom: 18px;
                text-align: center;
                color: #000000;
                font-family: Champions-Regular;
            }
            
            #contents th {
                border: 0px solid #ddd;
                padding: 8px;
                padding-top: 12px;
                padding-bottom: 12px;
                text-align: center;
                color: white;
                font-family: Champions-Bold;
            }
            
            #contents th:nth-child(even) {
                background-color: rgb(16, 216, 149);
            }
            
            #contents th:nth-child(odd) {
                background-color: rgb(1, 23, 29);
            }
            
            #button {
                background-color: rgb(224, 238, 252);
                font-family: Champions-Regular;
                padding: 15px 40px;
                border-radius: 30px;
                border: solid 2px rgb(13, 245, 168);
                font-size: 15px;
                margin-left: 40px;
                transition-duration: 0.4s;
            }
            
            #button:hover {
                transition-duration: 0.4s;
                color: #fff;
                background-color: rgb(3, 250, 168);
                cursor: pointer;
            }